<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24211867546-nfvj7de48k5akcpb2dos4fjguo05pk7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24211867546-nfvj7de48k5akcpb2dos4fjguo05pk7m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24211867546-n8iclsun70d66m0ds9rlcrvvdpug9j42.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDu_GckfZgK6EFqxOooyw9u3MnTesQpViM</string>
	<key>GCM_SENDER_ID</key>
	<string>24211867546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.may2nd.dynamicLinkExample</string>
	<key>PROJECT_ID</key>
	<string>seoul-e91fb</string>
	<key>STORAGE_BUCKET</key>
	<string>seoul-e91fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24211867546:ios:5bdab55f4e7bdaedf6dc23</string>
	<key>DATABASE_URL</key>
	<string>https://seoul-e91fb.firebaseio.com</string>
</dict>
</plist>